.button {
    padding: 12px;
    font-size: 12px;
    background-color: #c75087;
    width: 150px;
    box-sizing: border-box;
    border-radius: 12px;
    border: none;
    color: whitesmoke;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    color: whitesmoke;
    background-color: #91325e;
    font-weight: bold;
}