.button {
    padding: 12px;
    font-size: 16px;
    background-color: #3c98c2;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border: none;
    color: whitesmoke;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    color: whitesmoke;
    background-color: #0b91cf;
    font-weight: bold;
}