.form-container {
    height: 600px;
    width: 600px;
    margin: 30px auto;
}

.header {
    border-bottom: 1px solid rgb(204, 203, 203);
    padding: 20px 0;
}

.add-book {
    font-size: 16px;
    text-align: center;
    color: rgb(51, 51, 51);
}

.form {
    padding: 30px;
}

.form-label {
    font-size: 11pt;
}

.create-form {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    margin: 10px 0 20px 0;
    border-radius: 5px;
    border: none;
    background-color: rgb(245, 245, 245);
}