.form-container {
    height: 650px;
    width: 600px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid rgb(204, 203, 203);
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.add-book {
    font-size: 16px;
    text-align: center;
    color: rgb(51, 51, 51);
    width: 400px;
    margin-left: 110px;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

.btn-submit {
    cursor: pointer;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: #c75087;
    border: none;
    color: white;
    margin-left: 470px;
}

.btn-submit:hover {
    color: white;
    font-weight: 600;
    background-color: #91325e;
}

.form {
    padding: 30px;
}

.form-label {
    font-size: 11pt;
}

.create-form {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    margin: 10px 0 20px 0;
    border-radius: 5px;
    border: none;
    background-color: rgb(245, 245, 245);
}